.blog-item-wrapper {
    list-style: none;
    cursor: pointer;
}

.blog-item {
    margin: 10px;
    padding: 10px;
    background:white;
    box-shadow: 0px 0px 10px 3px #6fcc94;
    
    .header {
        font-size: 20px;
        padding-bottom: 10px;
        
        .info {
            font-size: 12px;
        }
    }

    .del-blog {
        margin-top: 10px;
    }
}